extends layout

block content
  .container.mt-5
    .d-flex.justify-content-between.mb-3
      a.btn.btn-secondary(href='/') Back to Home
      a.btn.btn-primary(href='/movies/new') Create New Movie
    h1= title
    table.table.table-hover
      thead
        tr
          th Title
          th Director
          th Year
          th Actions
      tbody
        each movie in movies
          tr
            td= movie.title
            td= movie.director
            td= movie.year
            td
              a.btn.btn-sm.btn-info(href=`/movies/${movie._id}`) View Details
